/* MEDIUM SCREENS */
@media (min-width: 600px) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #menuBtn {
        display: none;
    }

    #members.grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* LARGE SCREENS */
@media (min-width: 900px) {
    #members.grid {
        grid-template-columns: repeat(3, 1fr);
    }
}